.DS_Store
*.pyc
*.pyo
*.csv
*.dat
*.zip
*.vec

# image data
*.jpg
*.tiff
*.tif
*.7z
*.tar
*.png
*.gif
*.gz

env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
MNIST_data/
bin/
.cache/
.idea/


# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover
